# Dependencies
node_modules/

# Environment secrets
.env
.env.test
.env.local

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Database files
foodio.sql
dumps/
*.sql
*.sqlite

# Uploads (User generated content)
uploads/
storage/

# Misc
.DS_Store
.tmp_env_check.js

# IDEs
.vscode/
.idea/
*.sw?
